<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,800&display=swap" rel="stylesheet">

  <link rel="shortcut icon" type="image/x-icon" href="https://ocmain.s3-us-west-1.amazonaws.com/Groupie+Resources/Circular+Logo/G+Yellow+sm.png"/>

  <!-- <link rel="stylesheet" href="/static/css/main.css"> -->

  <link rel="stylesheet" href="/stylesheets/main.css" />
  <title>Groupie</title>
</head>
<body>
  <!-- navbar -->
  <nav class="navbar navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img class="ml-2" src="https://ocmain.s3-us-west-1.amazonaws.com/Groupie+Resources/Circular+Logo/G+Yellow+sm.png" alt="" width="8%" height="8%" class="d-inline-block align-top">
      </a>
    </div>
  </nav>

  <!-- intro banner -->
  <div class="main-banner">
    <div class="banner-content container">
      <div class="banner-text">
        <img src="https://ocmain.s3-us-west-1.amazonaws.com/Groupie+Resources/GoogleDrive+Groupie/LogoTransparent_2.png" height="15%" alt="Groupie">
        <h4 class="text-white my-3">A new way to interact with your favorite artists</h4>
        <button class="groupie-button" type="button" ><b>Learn More!</b></button>
      </div>
      <div class="banner-right">
      </div>  
    </div>
  </div>

<!-- main page content -->
  <div class="content-wrapper">
    
  <div class="container mb-5">
    <div class="intro text-center">
      <h1 class="mb-2"><i>What is groupie?</i></h1>
      <p class="my-2"><i>Groupie is a place where your biggest fans can subscribe to you for a set price and in return get access  to the privately streamed content you post.</i>
      </p>
    </div>
    

    <div class="summary d-flex mt-5 d-flex">
        <div class="summary-text">
          <h1><i>Give music, get support</i></h1>
          <p ><i>Release exclusives, early access or just put out a jam session you know your fans will love.</i></p>
          <p><i>Groupie is the best way to connect to your biggest fans and get direct support at the same time.</i></p>
          <p><i>Grow your support on Groupie and grow a more sustainable and diverse income.</i></p>
        </div>
        <div class=" summary-img my-auto">
          <img src="https://images.unsplash.com/photo-1598387994710-5a7e32088b49?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80" height="100%" width="100%" alt="">
        </div>
    </div>


    <div class="info-card">
      <div class="info-card-img">
        <img class="my-auto"
        style="box-shadow: 10px 15px #ECD017;" src="https://images.unsplash.com/photo-1493225457124-a3eb161ffa5f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" width="100%" alt="">
      </div>
      <div class="info-card-text">
        <h2 style="background-color: #ECD017;"><i><b>Why choose Groupie?</b></i> </h2>
        <p><i>We believe that the music industry is in desperate need of sustainable solutions for artists to interact with their fans.</i></p>
        <p><i>At Groupie, we belive that creating more ways for people to experience the music they love is a great thing for fans and creators alike.</i></p>
        <p><i>Secure regular regular and re-occuring stream of income</i></p>
      </div>
    </div>

    <div class="info-card info-card-alt">
      <div class="info-card-img float-right">
        <img class="my-auto" style="box-shadow: -10px 15px #ECD017;" src="https://images.unsplash.com/photo-1502773860571-211a597d6e4b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" width="100%" alt="">
      </div>
      <div class="info-card-text">
        <h2 style="background-color: #ECD017;"><i><b>What makes us different?</b></i> </h2>
        <p><i>Groupe is a music-first platform. No emailing mp3s, high company cuts, desktop-only content and one-size fits all infastructure.</i></p>
        <p><i>With a mobile platform designed for use on the go, we want your fans to be able to consume your content wherever they are.</i></p>
      </div>
      
    </div>

    <div  class="info-card">
      <div class="info-card-img">
        <img style="box-shadow: 10px 15px #ECD017;" src="https://images.unsplash.com/photo-1489641493513-ba4ee84ccea9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" width="100%" alt="">
      </div>
      <div class="info-card-text">
        <h2 style="background-color: #ECD017;"><i><b>Our Mission</b></i> </h2>
        <p><i>As music fans ourselves, we want to create a platform that we want to use,</i></p>
        <p><i>a creators-first environment that gives music fans a place to go to show their support and connect with their favorite artists.</i></p>
        <p><i>We want to listen to content creators and fans alike to create a platform that works for everyone!</i></p>
      </div>
    </div>
    
    <div class="footer container">
      <hr class="pb-5">
      <div style="background-color: #ECD017; border-radius: 10px; border: solid;" class=" py-4 text-center">
          <img src="https://ocmain.s3-us-west-1.amazonaws.com/Groupie+Resources/Circular+Logo/G+Dark+sm.png" height="150" alt="Groupie">
        <div class="mt-4">
          <h5>Submit An Application To Join As An Artist</h5>
          <button class="groupie-button" type="button" ><b>Learn More!</b></button>
        </div>
      </div>

      <div class="mt-5 text-center">
        <a target="_blank" href="https://www.instagram.com/groupie.music/?hl=en" class="groupie-button2" type="button" ><b>Instagram</b></a>
        <a target="_blank" href="" class="groupie-button2" type="button" ><b>Facebook</b></a>
      </div>
    </div>
    

  </div>
  </div>

  

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>