/* yellow - #ECD017 */

/* brown - #221E1F */

html {
  overflow: hidden;
}


body {
  background: #ffffff;
  color: #221E1F;
  height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
}

.content-wrapper {
  background-color: #ffffff;
  position: relative;
  margin-top: 5em;
  padding-top: 3em;
}

.navbar {
  background-color: #ffffff;
  z-index: 5;
  position: sticky;
  top: 0;
  border-bottom: solid 5px #ECD017;
  outline: solid 1px;
  padding: 0;
}
.main-banner {
  height: 30em;
  width: 100vw;
  /* margin-top: 5em; */
  box-sizing: border-box;
  transform-style: preserve-3d;
}
.main-banner::before {
  content: "";
  height: 110vh;
  width: 100vw;
  background-image: url('https://images.unsplash.com/photo-1459749411175-04bf5292ceea?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  background-repeat: no-repeat;
  background-size: 100vw 45em;
  /* box-sizing: border-box; */
  position: absolute;
  z-index: -10;
  transform: translateZ(-1px) scale(2);
}

.banner-content {
  display: flex;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 4em;
  font-weight: 700;
}

.banner-text {
  flex: 1;
  margin-top: 5em;
}
.banner-img {
  flex: 1;
}

.banner-text {
  color: #ECD017;
  
}

.groupie-button{
  background-color: #221E1F;
  margin: 1em 0 0 1em;
  color: #ECD017;
  font-size: large;
  border: 2px solid #ECD017;
  padding: 10px 40px 10px 40px;
  border-radius: 25px;
}

.groupie-button2{
  background-color: #221E1F;
  margin: 2em 2em 0 2em;
  color: #ECD017;
  font-size: large;
  border: 2px solid #ECD017;
  padding: 10px 40px 10px 40px;
  border-radius: 5px;
}